<!DOCTYPE html>

<html>

<body>

    <p>Original Text: <%= text %></p>

    <!-- Note the use of '%-' instead of '%=' here.
    https://stackoverflow.com/questions/39335143/display-variable-content-with-html-tags-in-ejs
    -->
    
    <p>Converted Text: <%- textWithBionic %></p>

    <p>Fixation: <%= fixation %></p>
    
    <!-- Unused -->
    <h3>Unused</h3>
    
    <p>Saccade: <%= saccade %></p>
    <p>Font: <%= font %></p>
    <p>Font Size: <%= fontSize %></p>
    <p>Text Colour: <%= textColour %></p>
    <p>Background Colour: <%= backgroundColour %></p>
    <p>Letter Spacing: <%= letterSpacing %></p>
    <p>Bold Weight: <%= boldWeight %></p>

</body>

</html>